.TempType{
    font-size: 55px;
    margin: 10px auto;
    width: fit-content;
    text-align: center;
    height: max-content;
    padding: 10px 30px;
    font-weight: 800;
    font-family: 'Square Peg', cursive;
}