<!DOCTYPE html>
<html>
    <head>
        <title>PROJECT_1</title>
        <style></style>
        <script></script>
        <link href="stylesheet_1.css" type="text/css" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <label for="" id="tab-1"> Basic </label>
                <label for="" id="tab-2"> Standard </label>
                <label for="" id="tab-3"> Team</label>
                <div class="slider" id="move"></div>
            </div>
        </div>
        <script src="./script.js"></script>
    </body>
</html>