<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
            <h2>
                USER-DETAILS
            </h2>
        <label for="NAME" id="name">NAME: </label>
        <input type="text" name="NAME" placeholder="User-name appears here"id="Name">
        <label for="E-MAIL" id="mail">E-MAIL: </label>
        <input type="email" name="E-MAIL" placeholder="E-mail" id="e-mail">
        <button type="submit"class="btn">REGISTER</button>
    </div>
    <script src="script.js"></script>
</body>
</html>