<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="steps">
            <span class="num" id="num-1" >1</span>
            <span class="empty" id=""></span>
            <span class="num" id="">2</span>
            <span class="empty" id=""></span>
            <span class="num" id="">3</span>
            <span class="empty" id=""></span>
            <span class="num" id="">4</span>
        </div>
        <div class="btnContainer">
            <button id="prev">Prev</button>
            <button id="next">Next</button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>