<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="navbar">
      <span id="navBtn" class="disp"><i class="fa-solid fa-bars"></i></span>
      <span id="navBtnEx" class="nodisp"><i class="fa-solid fa-xmark"></i></span>
    </div>
    <div class="cont">
      <!--  rotate -->

      <div class="container">
        <h1>Amazing Article</h1>
        <label for="">Florin pop</label>
        <br />
        <br />
        <p>
          tempora. Consectetur, omnis laborum ipsa atque excepturi libero
          necessitatibus odit voluptatum, ex amet suscipit repellat. Ex
          quibusdam error, dolorem vero quo veniam provident esse quas vitae
          delectus beatae reprehenderit dicta. Doloremque sit dolores incidunt
          eveniet, omnis dolorem natus eaque ut, obcaecati labore aliquid, nobis
          expedita cumque? Saepe minus quibusdam in deserunt, voluptatem nostrum
          vel similique consectetur voluptate, eaque exercitationem. Rem,
          maiores nihil aliquid molestias a accusamus. Sit, eaque mollitia!
          Itaque fugit beatae, quae id dicta doloribus dolorem, eum accusamus
          commodi impedit consequatur tempora. Ullam similique quos quisquam
          iusto dignissimos voluptates aliquam, cupiditate consectetur placeat
          deserunt earum nobis asperiores sapiente nisi amet distinctio
          laboriosam, voluptas rerum sint hic nam assumenda quaerat beatae.
          Odit, laudantium et?
        </p>
        <br />
        <h3>My dog</h3>
        <br />
        <img
          src="./image/marliese-streefland-2l0CWTpcChI-unsplash.jpg"
          alt=""
        />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui deserunt
          ad voluptates cupiditate rem, unde incidunt modi eligendi nesciunt
          officia corporis hic magni iusto minima, veritatis eaque accusantium
          obcaecati saepe? Voluptate dolores dolore ad maiores odit accusantium,
          accusamus laboriosam?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis praesentium, quis cupiditate voluptas voluptatum quibusdam! Eveniet minima, autem dignissimos ab ipsum harum, veritatis sit, sunt nam exercitationem laudantium blanditiis velit incidunt cupiditate quam obcaecati? Blanditiis modi exercitationem voluptatibus suscipit, eaque officia perferendis unde nostrum odit atque asperiores illo illum, facere molestias! Voluptatum deserunt reprehenderit consectetur. Atque, enim unde quos porro iste animi dignissimos optio fugit, est id ullam illum quis quaerat tenetur accusantium magnam. Commodi possimus, exercitationem earum molestiae voluptatum facere sunt nostrum doloremque, vel odio perferendis amet. Ab itaque temporibus, consequatur quos sequi tempore excepturi beatae voluptatum. Ullam, tenetur?
        </p>
      </div>
    </div>
    <div class="navbarHid">
      <ul>
        <li>
          <a><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li>
          <a><i class="fa-solid fa-people-group"></i> About</a>
        </li>
        <li>
          <a><i class="fa-solid fa-headset"></i> Contact us</a>
        </li>
      </ul>
    </div>
    <script src="script.js"></script>
  </body>
</html>
