<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
  </head>
  <body>
    <button id="buttonUp"><i class="fa-solid fa-arrow-up"></i></button>
    <button id="buttonDown"><i class="fa-solid fa-arrow-down"></i></button>

    
    <!-- 1 -->
    <div class="container">
      <div class="textSlider" id="a1">
        <h1>Around the Earth..</h1>
        <p>
          A beutiful globe held over the table. illustrated in a painting.
        </p>
      </div>
      <div class="imageSlider" id="b1"></div>
    </div>

    <!-- 2 -->
    <div class="container" >
      <div class="textSlider" id="a2">
        <h1>Green marvels..</h1>
        <p>
          Beautiful green mabels stacked one over another.
        </p>
      </div>
      <div class="imageSlider" id="b2"></div>
    </div>

    <!-- 3 -->
    <div class="container" >
      <div class="textSlider" id="a3">
        <h1>Car in hell ...</h1>
        <p>
          An automobile stucked in between beautifull but frightening black-mountains giving the a look car as ifthe car is in hell itself.
        </p>
      </div>
      <div class="imageSlider" id="b3"></div>
    </div>

    <!-- 4 -->
    <div class="container" >
      <div class="textSlider" id="a4">
        <h1>Plant In the blackhole</h1>
        <p>
          A beautiful picture illustrating a plant at verge of being eaten up by the black hole. The plant is almost at the event horizon ofthe blackhole.
        </p>
      </div>
      <div class="imageSlider" id="b4"></div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
