<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container-1" id="ps5">
      <h1 class="head">Playstation 5</h1>
      <button class="Btn left">Buy now</button>
    </div>
    <div class="container-2" id="xbox">
      <h1 class="head">XBox series X</h1>
      <button class="Btn right">Buy now</button>
    </div>
    <script src="script.js"></script>
  </body>
</html>
