<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- banner of the main site  -->
    <!-- <div class="banner">
        <img src="markos-mant-km6oJz2v7Z8-unsplash.jpg" alt="" class="banner-img">
    </div> -->
    <!-- making an navigation bar for the website -->
    <div class="nav-bar">
        <ul>
            <li class="element" id="home"><a href="">Home</a></li>
            <li class="element" id="services"><a href="">Services</a></li>
            <li class="element" id="our-works"><a href="">Our Works</a></li>
            <li class="element" id="about-us"><a href="">About Us</a></li>
            <li class="element" id="contact-us"><a href="">Contact us</a></li>
            <li class="element" id="more"><a href="">More</a></li>
        </ul>
    </div>
    <script src="javascript.js"></script>
</body>
</html>