<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  </head>
  <body>
    <div class="container">
      <div>
        <label>LinkedIn visits</label>
        <p id="lnikedIn">0 </p>
        <h1><i class="fa-brands fa-linkedin-in"></i></h1>
      </div>
      <div>
        <label>Instagram followers</label>
        <p id="instagram">0 </p>
        <h1><i class="fa-brands fa-instagram"></i></h1>
      </div>
      <div>
        <label>Facebook followers</label>
        <p id="facebook">0 </p>
        <h1><i class="fa-brands fa-facebook-f"></i></h1>
      </div>
      <div>
        <label>Our site visits</label>
        <p id="siteVisitors">0 </p>
        <h1><i class="fa-solid fa-face-smile-wink"></i></h1>
      </div>
    </div>
    <script src="./script.js"></script>
  </body>
</html>
