<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image slider</title>
    <link rel="stylesheet" href="style-1.css">
</head>
<body>
    <div class="container">
        <div class="slide" id="slide-1">
            <img src="images/MOUNTAINS.jpg" alt="">
            <div class="caption">Image-1</div>
        </div>

        <div class="slide" id="slide-2">
            <img src="images/oc-gonzalez-xg8z_KhSorQ-unsplash.jpg" alt="">
            <div class="caption">Image-2</div>
        </div>

        <div class="slide" id="slide-3">
            <img src="images/ricardo-frantz-PPx6M7elGTk-unsplash.jpg" alt="">
            <div class="caption">Image-3</div>
        </div>

        <div class="slide" id="slide-4">
            <img src="images/tim-swaan-eOpewngf68w-unsplash.jpg" alt="">
            <div class="caption">Image-4</div> 
        </div>
        <div class="slide" id="slide-1">
            <img src="images/federico-respini-sYffw0LNr7s-unsplash.jpg" alt="">
            <div class="caption">Image-5</div>
        </div>

        <div class="slide" id="slide-2">
            <img src="images/markos-mant-km6oJz2v7Z8-unsplash.jpg" alt="">
            <div class="caption">Image-6</div>
        </div>

        <div class="slide" id="slide-3">
            <img src="images/MOUNTAINS.jpg" alt="">
            <div class="caption">Image-7</div>
        </div>

        <div class="slide" id="slide-4">
            <img src="images/ricardo-frantz-PPx6M7elGTk-unsplash.jpg" alt="">
            <div class="caption">Image-8</div> 
        </div>

        <div class="slide" id="slide-1">
            <img src="images/MOUNTAINS.jpg" alt="">
            <div class="caption">Image-9</div>
        </div>

        <div class="slide" id="slide-2">
            <img src="images/oc-gonzalez-xg8z_KhSorQ-unsplash.jpg" alt="">
            <div class="caption">Image-10</div>
        </div>

        <div class="slide" id="slide-3">
            <img src="images/ricardo-frantz-PPx6M7elGTk-unsplash.jpg" alt="">
            <div class="caption">Image-11</div>
        </div>

        <div class="slide" id="slide-4">
            <img src="images/tim-swaan-eOpewngf68w-unsplash.jpg" alt="">
            <div class="caption">Image-12</div> 
        </div>
        <div class="slide" id="slide-1">
            <img src="images/federico-respini-sYffw0LNr7s-unsplash.jpg" alt="">
            <div class="caption">Image-13</div>
        </div>

        <div class="slide" id="slide-2">
            <img src="images/markos-mant-km6oJz2v7Z8-unsplash.jpg" alt="">
            <div class="caption">Image-14</div>
        </div>

        <div class="slide" id="slide-3">
            <img src="images/MOUNTAINS.jpg" alt="">
            <div class="caption">Image-15</div>
        </div>

        <div class="slide" id="slide-4">
            <img src="images/ricardo-frantz-PPx6M7elGTk-unsplash.jpg" alt="">
            <div class="caption">Image-16</div> 
        </div>
        
        <span id="left">&#10094</span>
        <span id="right">&#10095</span>
    </div>
    <script src="script.js"></script>
</body>
</html>